
 **/Homework*.cs
 **/Homework/"" 
 .vs/
".vs/" 
**/bin/
**/obj/
**/Debug/
**/Release/

.vs/
*.user
*.suo

*.dll
*.exe
*.pdb
*.ilk
*.cache

Thumbs.db
*.tmp



**/bin/
**/obj/

*.user
*.suo
.vs/

*.pdb
*.ilk
*.exe
*.dll"" 

